
@media only screen and (max-width: 40em) {
	body{
		.under-construction{			
			.comming-soon{
				margin: 0 auto;
				position: relative;
			    text-align: center;
			    top: 73%;
			    width: 80%;					
			}
		}
	}
}