
@media only screen and (max-device-width : 1024px), only screen and (max-width : 1025px), only screen and (device-width: 906px) and (device-height: 601px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and  (orientation: landscape) { 
	body{
		.under-construction{			
			.comming-soon{
				left: 38%;
				position: absolute;
				text-align: center;
				top: 75%;
			}
		}
	}
}