
$palleteBlack: #2f3138;
$palleteRed: #b2112f;
$palleteLightBlue: #007EA7;
$palleteDarkBlue: #003459;
$palleteLightGray: #EDF2F4;
$white: #FFFFFF;
$lightBlue: #effafe;
$lightBlue2: #afcad4;

@font-face {
    font-family: 'abeezeeregular';
    src: url('../fonts/abeezee/abeezee-regular-webfont.eot');
    src: url('../fonts/abeezee/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abeezee/abeezee-regular-webfont.woff2') format('woff2'),
         url('../fonts/abeezee/abeezee-regular-webfont.woff') format('woff'),
         url('../fonts/abeezee/abeezeeno-regular-webfont.ttf') format('truetype'),
         url('../fonts/abeezee/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  	font-family: 'FontAwesome';
	src: url('../fonts/fonts-awesome/fontawesome-webfont.eot?v=4.4.0');
  	src: url('../fonts/fonts-awesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin ghost-button($color-hover, $background-hover, $color-border){
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	width: 250px;
	padding: 5px;
	color: $color-border;
	border: 2px solid $color-border;
	text-align: center;
	outline: none;
	text-decoration: none;
	border-radius: 9px;
	margin-top: 10px;
	transition: background-color 0.1s ease-out, 
				color 0.1s ease-out;

	&:hover, &:active{
		color: $color-hover;
		background-color: $background-hover;
		border: 2px solid $background-hover;
		transition: background-color 0.2s ease-in,
						color 0.2s ease-in;
	}
}

body{
	color: $palleteBlack;
	font-family: 'abeezeeregular';
	font-size: 16px;
	min-height: 1000px;

	h2{
		font-family: 'Lato', sans-serif;
		font-size: 50px;
	}

	&.f-topbar-fixed{
		padding-top: 75px;
	
		.row{
			.sticky{
				min-height: 75px;
			}
			.top-bar{
				min-height: 72px;

				.name{
					h1{
						height: 65px;
						margin-top: 2%;
						background: url("../img/Kukenan-Cube.png") no-repeat;
						background-size: auto 65px;
						transition: background 0.2s ease-out;
					}
				}
				.top-bar-section{
					ul{
						&.right{
							li{
								margin-top: 3%;

								&:not(.has-form){
									&.active{
										a{
											&:after{
												margin-bottom: 10px;
											}
										}
									}
									a:not(.button){
										&:hover:after{
											margin-bottom: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}		
	}

	.top-bar{
		.name{
			h1{		
				background: url("../img/Kukenan-Logo-White-Letters.png") no-repeat;
				background-size: auto 65px;
				height: 75px;
				margin-top: 5%;
				transition: background 0.2s ease-in;
				text-indent: -9999px;
				width: 200px; 
			}
		}
		.top-bar-section{
			ul{
				&.right{
					width: 50%;

					li{
						background-color: $palleteBlack;					
						min-height: auto;
						margin-top: 4%;
						position: relative;
						text-align: center;
						width: 33%;

						a{
							font-family: 'Lato', sans-serif;
							font-size: 18px;
						}

						&:not(.has-form){
							&.active{
								a{
									background-color: $palleteBlack;
									color: $palleteRed;
									transition: background-color 0.2s ease-out, 
												color 0.2s ease-out;

									&:after{
										border-left: solid transparent 8px;
									    border-right: solid transparent 8px;
									    border-bottom: solid $palleteRed 8px;
									    bottom: -22px;
									    content: " ";
									    height: 0;
									    left: 50%;
									    margin-left: -5px;
									    margin-bottom: 0px;
									    position: absolute;
									    width: 0;
									    transition: content 0.2s ease-out;
									}
								}
							}
							a:not(.button){
								background-color: $palleteBlack;
								transition: background-color 0.2s ease-out, 
											color 0.2s ease-out;
								&:hover{
									background-color: $palleteBlack;
									color: $palleteRed;
									transition: background-color 0.2s ease-out, 
												color 0.2s ease-out;
								}
								&:hover:after{
									border-left: solid transparent 8px;
								    border-right: solid transparent 8px;
								    border-bottom: solid $palleteRed 8px;
								    bottom: -22px;
								    content: " ";
								    height: 0;
								    left: 50%;
								    margin-left: -5px;
								    margin-bottom: 0px;
								    position: absolute;
								    width: 0;
								    transition: content 0.2s ease-out;
								}								
							}
						}
					}
				}				
			}
		}
	}	
	.row{
		max-width: 100%;
		.page-sizer{
			margin: 0 auto;
			width: 62.5rem;
		}
		.page-sizer-section{
			margin: 0 auto;
			width: 64rem;
		}
		.columns{
			padding-left: 0;
			padding-right: 0;
		}		
		.top-bar{
			background-color: $palleteBlack;
			min-height: 85px;
		}
		.sticky{
			background-color: $palleteBlack;
			border-bottom: 3px solid $palleteRed;
			min-height: 90px;
   			height: auto;
		}
		&.first-section{
			background-color: $palleteLightBlue;	
			height: 500px;
			position: relative;

			.columns{
				background: url('../img/fondo-section1.png') no-repeat;
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        position: absolute;
    			height: 100%;

    			.left{
    				background: url('../img/section1-1.png') left bottom no-repeat;
    				background-size: 100% auto;
    				height: 100%;
    				left: 0;
    				top: 0;
    				width: 25%;
					position: absolute;
    			}
    			.right{
    				background: url('../img/section1-2.png') right bottom no-repeat;
    				background-size: 100% auto;
    				height: 100%;
    				right: 0;
    				top: 0;
    				width: 25%;
					position: absolute;
    			}
			}

			.content{
				position: relative;
				min-height: 350px;

				p{
					text-align: center;

					&.slogan{
						color: $palleteLightGray;
						font-family: 'Lato', sans-serif;
						font-style: normal;
						font-weight: 700;
						font-size: 56px;
						margin-top: 6%;
					}

					&.brief{
						color: $palleteBlack;
						font-family: 'abeezeeregular';
						font-size: 30px;
						line-height: 50px;

						span{
							display: block;
						}

						.question{
							font-size: 40px;
						}
					}

					&.contact{
						bottom: 0;
						position: absolute;
						text-align: center;
						width: 100%;

						.ghost-button{
							@include ghost-button($palleteLightBlue, $palleteLightGray, $palleteLightGray);
						}
					}				
				}
			}						
		}
		&.second-section{
			background-color: $palleteLightGray;		
			height: 500px;
			position: relative;

			.text{
				margin-top: 5%;

				h2{
					margin-bottom: 5%;
				}
			}
			.image{
				line-height: 497px;
				text-align: center;

				img{
					height: 400px;
					vertical-align: middle;
					width: auto;
				}
			}			
		}
		&.third-section{
			background-color: $white;
			height: 110px;
			position: relative;

			h2{
				color: $lightBlue2;
				font-size: 16px;
				margin-top: 8px;
				margin-bottom: 0px;
				text-align: center;
			}
			.gallery{
				line-height: 70px;				
			    padding-left: 5%;
			    padding-right: 5%;			    
			    position: relative;
			    text-align: center;

				.right{					
				    height: 70px;
				    line-height: 70px;
				    position: absolute;
				    right: 0;
				    top: 0;				    
				    width: 5%;

					&:after{
						color: $palleteDarkBlue;
					    content: '\f105';
					    font-family: 'FontAwesome';
					    font-size: 60px;
					    vertical-align: middle;
					}
				}
				.left{
					height: 70px;
				    line-height: 70px;
				    position: absolute;
				    left: 0;
				    top: 0;				    
				    width: 5%;

					&:after{
						color: $palleteDarkBlue;
					    content: '\f104';
					    font-family: 'FontAwesome';
					    font-size: 60px;
					    vertical-align: middle;
					}
				}

				.item{
					display: inline-block;
					padding-left: 10px;
   					padding-right: 10px;
					text-align: center;
					width: 13%;

					img{
						height: auto;
					    width: 60px;
					    max-height: 70px;
					}
				}
			}			
		}
	}
}