
$palleteBlack: #2f3138;
$palleteRed: #b2112f;
$palleteLightBlue: #007EA7;
$palleteDarkBlue: #003459;
$palleteLightGray: #EDF2F4;
$white: #FFFFFF;

@font-face {
    font-family: 'abeezeeregular';
    src: url('../fonts/abeezee/abeezee-regular-webfont.eot');
    src: url('../fonts/abeezee/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abeezee/abeezee-regular-webfont.woff2') format('woff2'),
         url('../fonts/abeezee/abeezee-regular-webfont.woff') format('woff'),
         url('../fonts/abeezee/abeezeeno-regular-webfont.ttf') format('truetype'),
         url('../fonts/abeezee/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin ghost-button($color-hover, $background-hover, $color-border){
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	width: 250px;
	padding: 5px;
	color: $color-border;
	border: 3px solid $color-border;
	text-align: center;
	outline: none;
	text-decoration: none;
	border-radius: 9px;
	margin-top: 10px;
	transition: background-color 0.1s ease-out, 
				color 0.1s ease-out;

	&:hover, &:active{
		color: $color-hover;
		background-color: $background-hover;
		border: 3px solid $background-hover;
		transition: background-color 0.2s ease-in,
						color 0.2s ease-in;
	}
}

body{
	color: $palleteBlack;
	font-family: 'abeezeeregular';
	font-size: 14px;
	min-height: 1000px;

	.top-bar{
		.name{
			h1{		
				background: url("../img/Kukenan-Logo-White-Letters.png") no-repeat;
				background-size: auto 65px;
				height: 75px;
				margin-top: 7%;
				text-indent: -9999px;
				width: 200px; 
			}
		}
		.top-bar-section{
			ul{
				&.right{
					width: 50%;

					li{
						background-color: $palleteBlack;					
						min-height: auto;
						margin-top: 6%;
						position: relative;
						text-align: center;
						width: 33%;

						a{
							font-family: 'Lato', sans-serif;
							font-size: 18px;
						}

						&:not(.has-form){
							&.active{
								a{
									background-color: $palleteBlack;
									color: $palleteRed;
									transition: background-color 0.2s ease-out, 
												color 0.2s ease-out;

									&:after{
										border-left: solid transparent 5px;
									    border-right: solid transparent 5px;
									    border-bottom: solid $palleteRed 5px;
									    bottom: -22px;
									    content: " ";
									    height: 0;
									    left: 50%;
									    margin-left: -5px;
									    margin-bottom: 0px;
									    position: absolute;
									    width: 0;
									    transition: content 0.2s ease-out;
									}
								}
							}
							a:not(.button){
								background-color: $palleteBlack;
								transition: background-color 0.2s ease-out, 
											color 0.2s ease-out;
								&:hover{
									background-color: $palleteBlack;
									color: $palleteRed;
									transition: background-color 0.2s ease-out, 
												color 0.2s ease-out;
								}
								&:hover:after{
									border-left: solid transparent 5px;
								    border-right: solid transparent 5px;
								    border-bottom: solid $palleteRed 5px;
								    bottom: -22px;
								    content: " ";
								    height: 0;
								    left: 50%;
								    margin-left: -5px;
								    margin-bottom: 0px;
								    position: absolute;
								    width: 0;
								    transition: content 0.2s ease-out;
								}								
							}
						}
					}
				}				
			}
		}
	}	
	.row{
		max-width: 100%;
		.page-sizer{
			margin: 0 auto;
			width: 62.5rem;
		}
		.columns{
			padding-left: 0;
			padding-right: 0;
		}		
		.top-bar{
			background-color: $palleteBlack;
			min-height: 97px;
		}
		.sticky{
			background-color: $palleteBlack;
			border-bottom: 3px solid $palleteRed;
			height: 100px;
		}
		&.second-section{
			background-color: $palleteLightBlue;			
			height: 500px;
			position: relative;

			.columns{
				background: url('../img/fondo-section1.png') no-repeat;
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        position: absolute;
    			height: 500px;

    			.left{
    				background: url('../img/section1-1.png') left bottom no-repeat;
    				background-size: 100% auto;
    				height: 100%;
    				left: 0;
    				top: 0;
    				width: 25%;
					position: absolute;
    			}
    			.right{
    				background: url('../img/section1-2.png') right bottom no-repeat;
    				background-size: 100% auto;
    				height: 100%;
    				right: 0;
    				top: 0;
    				width: 25%;
					position: absolute;
    			}
			}

			.content{
				position: relative;
				min-height: 350px;

				p{
					text-align: center;

					&.slogan{
						color: $palleteLightGray;
						font-family: 'Lato', sans-serif;
						font-style: normal;
						font-weight: 700;
						font-size: 56px;
						margin-top: 6%;
					}

					&.brief{
						color: $palleteBlack;
						font-family: 'abeezeeregular';
						font-size: 30px;
						line-height: 45px;

						span{
							display: block;
						}

						.question{
							font-size: 40px;
						}
					}

					&.contact{
						bottom: 0;
						position: absolute;
						text-align: center;
						width: 100%;

						.ghost-button{
							@include ghost-button($palleteLightGray, $palleteRed, $palleteLightGray);
						}
					}				
				}
			}						
		}
	}
}