
$palleteBlack: #2f3138;
$palleteRed: #b2112f;
$palleteLightBlue: #007EA7;
$palleteDarkBlue: #003459;
$palleteLightGray: #EDF2F4;
$white: #FFFFFF;
$black: #000000;
$red: #d50b15;
$greenBlue: #00bcd7;
$lightGray: #edf2f4;
$lightBlue: #effafe;
$lightBlue2: #afcad4;
$lightGreen: #2eaba3;

@font-face {
    font-family: 'abeezeeregular';
    src: url('../fonts/abeezee/abeezee-regular-webfont.eot');
    src: url('../fonts/abeezee/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abeezee/abeezee-regular-webfont.woff2') format('woff2'),
         url('../fonts/abeezee/abeezee-regular-webfont.woff') format('woff'),
         url('../fonts/abeezee/abeezeeno-regular-webfont.ttf') format('truetype'),
         url('../fonts/abeezee/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  	font-family: 'FontAwesome';
	src: url('../fonts/fonts-awesome/fontawesome-webfont.eot?v=4.4.0');
  	src: url('../fonts/fonts-awesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
  	  	 url('../fonts/fonts-awesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin ghost-button($color-hover, $background-hover, $color-border){
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-style: normal;
	width: 250px;
	padding: 5px;
	color: $color-border;
	border: 2px solid $color-border;
	text-align: center;
	outline: none;
	text-decoration: none;
	border-radius: 9px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	transition: background-color 0.1s ease-out, 
				color 0.1s ease-out;

	&:hover, &:active{
		color: $color-hover;
		background-color: $background-hover;
		border: 0px;
		width: 254px;
		line-height: 52px; 
		transition: background-color 0.2s ease-in,
						color 0.2s ease-in;
	}
}

body{
	background-color: $palleteLightBlue;
	color: $palleteBlack;
	font-family: 'abeezeeregular';
	font-size: 16px;
	min-height: 1000px;

	h2{
		font-family: 'Lato', sans-serif;
		font-size: 50px;
	}

	//Styles to button effect
	.ink {
		display: block;
		position: absolute;
		background:rgba(42, 45, 54, 0.3);
		border-radius: 100%;
		-webkit-transform:scale(0);
		-moz-transform:scale(0);
		-o-transform:scale(0);
		transform:scale(0);
	}
	.animate {
		-webkit-animation:ripple 0.65s linear;
	   	-moz-animation:ripple 0.65s linear;
	    -ms-animation:ripple 0.65s linear;
	    -o-animation:ripple 0.65s linear;
	    animation:ripple 0.65s linear;
	}
	@-webkit-keyframes ripple {
	    100% {opacity: 0; -webkit-transform: scale(2.5);}
	}
	@-moz-keyframes ripple {
	    100% {opacity: 0; -moz-transform: scale(2.5);}
	}
	@-o-keyframes ripple {
	    100% {opacity: 0; -o-transform: scale(2.5);}
	}
	@keyframes ripple {
	    100% {opacity: 0; transform: scale(2.5);}
	}

	&.f-topbar-fixed{
		background-color: $palleteLightBlue;
	
		.row{
			.sticky-custom-animated{
				min-height: 75px;
			}
			.top-bar-animated{
				min-height: 75px;

				.name{
					h1{
						height: 65px;
						margin-top: 4%;
						background: url("../img/Kukenan-Logo-sticky.png") no-repeat;
						background-size: auto 55px;
						transition: background 0.2s ease-in-out;
						width: 200px;

						a{
							height: 100%;
						}
					}
				}
				.top-bar-section{
					ul{
						&.right{
							li{
								min-height: 75px;
								&:not(.has-form){
									&.active{
										a{
											line-height: 75px;
										}
									}
									a:not(.button){
										line-height: 75px;
									}
								}								
							}
						}
					}
				}
			}
		}		
	}

	.top-bar{
		.title-area{
			margin-left: 2%;
		}
		.name{
			h1{		
				background: url("../img/Kukenan-Logo-White-Letters.png") no-repeat;
				background-size: auto 65px;
				height: 75px;
				margin-top: 6%;
				transition: background 0.2s ease-in-out;
				text-indent: -9999px;
				width: 200px; 

				a{
					height: 100%;
				}
			}
		}
		.top-bar-section{
			ul{
				&.right{
					width: 50%;

					li{
						background-color: transparent;					
						min-height: 88px;
						position: relative;
						text-align: center;
						width: 33%;

						a{
							font-family: 'Lato', sans-serif;
							font-size: 18px;
						}

						&:not(.has-form){
							&.active{
								a:not(.button){
									background:rgba(255, 255, 255, 0.3);
									line-height: 88px;
									z-index:0;

									&:after{
										border-left: solid transparent 8px;
									    border-right: solid transparent 8px;
									    border-bottom: solid $white 8px;
									    bottom: 0px;
									    content: " ";
									    height: 0;
									    left: 50%;
									    margin-left: -5px;
									    position: absolute;
									    width: 0;
									    transition: content 0.2s ease-out;
									}
								}
							}
							a:not(.button){
								background-color: transparent;								
								line-height: 88px;
								overflow:hidden;
								z-index:0;
								position: relative;
								-webkit-transition: all 0.2s ease;
								-moz-transition: all 0.2s ease;
								-o-transition: all 0.2s ease;
								transition: all 0.2s ease;

								&:hover{
									background:rgba(255, 255, 255, 0.3);
								}
								&:hover:after{
									border-left: solid transparent 8px;
								    border-right: solid transparent 8px;
								    border-bottom: solid $white 8px;
								    bottom: 0px;
								    content: " ";
								    height: 0;
								    left: 50%;
								    margin-left: -5px;
								    position: absolute;
								    width: 0;
								    transition: content 0.2s ease-out;
								}								
							}
						}
					}
				}				
			}
		}
	}	
	.row{
		max-width: 100%;
		.page-sizer{
			margin: 0 auto;
			width: 80%;
			padding-left: 2%;
			padding-right: 2%;
		}
		.page-sizer-section{
			margin: 0 auto;
			width: 80%;
		}
		.columns{
			padding-left: 0;
			padding-right: 0;
		}		
		.top-bar{
			background-color: transparent;
			min-height: 85px;
			transition: min-height 0.1s ease-in-out;
		}
		.sticky-custom{
			background-color: rgba(47,49,56,0.9);
			border-bottom: 2px solid $white;
			box-shadow:rgba(0, 0, 0, 0.3) 0 1px 30px 0;
			-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 1px 30px 0;
			-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 1px 30px 0;
			min-height: 90px;
   			height: auto;
		}
		&.first-section{
			background-color: $palleteLightBlue;	
			height: 500px;
			position: relative;

			.columns{
				background: url('../img/fondo-section1.png') repeat;
				background-position: 50% 0px;
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        position: absolute;
    			height: 100%;

    			.left{
    				background: url('../img/section1-1.png') left bottom no-repeat;
    				background-size: 100% auto;
    				height: 100%;
    				left: 0;
    				top: 0;
    				width: 25%;
					position: absolute;
    			}
    			.right{
    				background: url('../img/section1-2.png') right bottom no-repeat;
    				background-size: 100% auto;
    				height: 100%;
    				right: 0;
    				top: 0;
    				width: 25%;
					position: absolute;
    			}
			}

			.content{
				position: relative;
				min-height: 350px;

				p{
					text-align: center;

					&.slogan{
						color: $palleteLightGray;
						font-family: 'Lato', sans-serif;
						font-style: normal;						
						font-size: 53px;
						margin-top: 6%;

						.text-change{
							font-size: 56px;
							font-weight: 700;

							span{
								overflow: auto;
							}
						}
					}

					&.brief{
						color: $palleteBlack;
						font-family: 'abeezeeregular';
						font-size: 30px;
						line-height: 50px;

						span{
							display: block;
						}

						.question{
							font-size: 37px;
							font-weight: 700;
    						font-style: normal;
						}
					}

					&.contact{
						bottom: 0;
						margin-top: 5%;
						text-align: center;
						width: 100%;

						.ghost-button{
							@include ghost-button($palleteLightBlue, $palleteLightGray, $palleteLightGray);
						}
					}				
				}
			}						
		}
		&.second-section{
			background-color: $greenBlue;	
			color: $white;	
			height: 500px;
			position: relative;

			.content{
				background: url('../img/fondo-section1.png') repeat;
				background-position: 50% 0px;
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        position: relative;
    			height: 100%;

    			.text{
    				margin-top: 5%;

    				h2{
    					margin-bottom: 5%;
    				}
    			}
    			.image{
    				line-height: 497px;
    				text-align: center;

    				img{
    					height: 400px;
    					vertical-align: middle;
    					width: auto;
    				}
    			}
			}						
		}
		&.third-section{
			background-color: $white;
			height: 110px;
			position: relative;

			h2{
				color: $lightBlue2;
				font-size: 16px;
				margin-top: 8px;
				margin-bottom: 0px;
				text-align: center;
			}
			.gallery{
				line-height: 70px;	
				overflow: hidden;			
			    padding-left: 2%;
			    padding-right: 2%;
			    text-align: center;

				button{
					display: none !important;
				}

				.item{
					display: inline-block;
					padding-left: 10px;
   					padding-right: 10px;
					text-align: center;
					width: 13%;

					img{
						height: auto;
					    width: 60px;
					    max-height: 70px;
					}
				}
			}			
		}
		&.fourth-section{
			background-color: $white;
			height: 700px;
			position: relative;

			h2 {
				text-align: center;
				margin-top: 5%;
				margin-bottom: 5%;
			}

			h3 {
				font-family: 'Lato', sans-serif;
				font-style: normal;
				font-weight: 300;
				font-size: 36px;
				text-transform: none;
				text-decoration: none;
				letter-spacing: 0em;
				word-spacing: 0em;
				line-height: 1.4;
			}

			.initial-contact{
				height: 300px;
				background: url('../img/Initial-Contact.png') no-repeat center center;
    			background-size: 300px 300px;

				img{
					width: 568px;
				    height: 84px;
				    border: 0;
				    position: relative;
				    top: 320px;
    				left: 240px;
				}
			}
		}
		&.five-section{
			background-color: $lightGreen;
			height: 430px;
			position: relative;
			.icons{
				background: url('../img/icons-background-contact-us.png') repeat;	
				position: absolute;
				width: 100%;
				height: 100%;
				max-height: 430px;
				overflow: hidden;
			}
			.contact_copy {
			    font-family: Lato;
			    font-size: 32px;
			    font-weight: 300;
			    letter-spacing: -1px;
			    text-align: center;
			    padding-top: 20px;
			    padding-bottom: 20px;
			    color: #00171f;
			    line-height: 36px;
			}					
		}
		&.six-section{
			background-color: $black;
			color: $white;
			height: 300px;
			position: relative;
		}
	}
}