
@media only screen and (min-width: 641px) and (max-width: 1023px) {
	body{
		.top-bar{
			.title-area{
				width: 31%;
				li{
					h1{
						background-position: center center;
						height: 85px;
						margin-top: 0px;
					}
				}
			}
			.top-bar-section{
				ul{
					&.right{
						width: 67%;
					}
				}
			}
		}
		.row{
			.sticky-custom{
				box-shadow:rgba(0, 0, 0, 0.3) 0 1px 10px 0;
				-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 1px 10px 0;
				-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 1px 10px 0;
			}
			&.first-section{
				height: 400px;
				.content{
					min-height: 400px;
					p{
						&.brief{
							font-size: 25px;

							span{
								line-height: 40px;
							}
							.question{
								font-size: 30px;
							}
						}
						&.slogan{
							font-size: 37px;
							span{
								line-height: 55px;
								&.text-change{
									font-size: 40px;
								}
							}
							
						}
					}					
				}
			}
			&.second-section{
				height: 530px;
				.content{
					.text{
						margin-top: 2%;
						padding-left: 2%;
					}
					.image{
						padding-right: 2%;
						img{
							height: auto;
						}
					}
				}				
			}
			&.third-section{
			}
			&.fourth-section{
				.row{
					&.stage{
						&.stage-3{
							.line{
								.columns{
									img{
										height: 100%;
										width: 5px;
									}
								}
							}
						}
					}
					&.line{
						height: 60px;
						margin-top: 0px;
						margin-bottom: 0px;
						.columns{
							height: 100%;
						}
					}
					.column{
						&.image{
							background-size: 60% auto;
						}
						&.dotted{
							text-align: center;
						}
					}
				}
			}
			&.five-section{	
				min-height: 430px;
				height: auto;	
				.icons{
					position: absolute;
					width: 100%;
					height: 100%;
					max-height: 100%;
					overflow: hidden;
				}	
				.contact_copy {
				    font-family: Lato;
				    font-size: 23px;
				}		
				form{
					&.contact_form{
						.wrapper_left{
							width: 99%;
						    padding: 1%;
						    display: inline-block;
						    vertical-align: top;
						    float: left;
						}
						.wrapper_right{
							width: 99%;
						    padding: 1%;
						    display: inline-block;
						    vertical-align: top;
						    float: left;
						}
						select{
						&.input-group{
								margin-bottom: 20px;								
							}
						}
						textarea{
							min-height: 125px;
						}
						.final_section {
						    .g-recaptcha {
							    width: 100%;
							    padding-right: 0px;
							    float: left;
							    text-align: left;
							    position: relative;
							    div{
							    	float: none;
							    	margin: 0 auto;
							    }
							}
							.wrapper_button {

							    margin: 0 auto;
							    text-align: center;
							    float: left;
							    width: 100%;
							    padding: 0px;
							    padding-top: 15px;
							    button{
									&.send-btn {
										margin-left: 0px; 
									}
								}
							}
							
							
						}
						
					}
				}		
			}
			.page-sizer{
				width: 90%;
			}
			.page-sizer-section{
				padding-left: 1%;
				padding-right: 1%;
				width: 90%;
			}
		}
	}
}