@font-face {
  font-family: 'abeezeeregular';
  src: url("../fonts/abeezee/abeezee-regular-webfont.eot");
  src: url("../fonts/abeezee/abeezee-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/abeezee/abeezee-regular-webfont.woff2") format("woff2"), url("../fonts/abeezee/abeezee-regular-webfont.woff") format("woff"), url("../fonts/abeezee/abeezeeno-regular-webfont.ttf") format("truetype"), url("../fonts/abeezee/abeezee-regular-webfont.svg#abeezeeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  color: #2f3138;
  font-family: 'abeezeeregular';
  font-size: 14px;
  min-height: 1000px; }
  body .top-bar .name h1 {
    background: url("../img/Kukenan-Logo-White-Letters.png") no-repeat;
    background-size: auto 65px;
    height: 75px;
    margin-top: 7%;
    text-indent: -9999px;
    width: 200px; }
  body .top-bar .top-bar-section ul.right {
    width: 50%; }
    body .top-bar .top-bar-section ul.right li {
      background-color: #2f3138;
      min-height: auto;
      margin-top: 6%;
      position: relative;
      text-align: center;
      width: 33%; }
      body .top-bar .top-bar-section ul.right li a {
        font-family: 'Lato', sans-serif;
        font-size: 18px; }
      body .top-bar .top-bar-section ul.right li:not(.has-form).active a {
        background-color: #2f3138;
        color: #b2112f;
        transition: background-color 0.2s ease-out,  color 0.2s ease-out; }
        body .top-bar .top-bar-section ul.right li:not(.has-form).active a:after {
          border-left: solid transparent 5px;
          border-right: solid transparent 5px;
          border-bottom: solid #b2112f 5px;
          bottom: -22px;
          content: " ";
          height: 0;
          left: 50%;
          margin-left: -5px;
          margin-bottom: 0px;
          position: absolute;
          width: 0;
          transition: content 0.2s ease-out; }
      body .top-bar .top-bar-section ul.right li:not(.has-form) a:not(.button) {
        background-color: #2f3138;
        transition: background-color 0.2s ease-out,  color 0.2s ease-out; }
        body .top-bar .top-bar-section ul.right li:not(.has-form) a:not(.button):hover {
          background-color: #2f3138;
          color: #b2112f;
          transition: background-color 0.2s ease-out,  color 0.2s ease-out; }
        body .top-bar .top-bar-section ul.right li:not(.has-form) a:not(.button):hover:after {
          border-left: solid transparent 5px;
          border-right: solid transparent 5px;
          border-bottom: solid #b2112f 5px;
          bottom: -22px;
          content: " ";
          height: 0;
          left: 50%;
          margin-left: -5px;
          margin-bottom: 0px;
          position: absolute;
          width: 0;
          transition: content 0.2s ease-out; }
  body .row {
    max-width: 100%; }
    body .row .page-sizer {
      margin: 0 auto;
      width: 62.5rem; }
    body .row .columns {
      padding-left: 0;
      padding-right: 0; }
    body .row .top-bar {
      background-color: #2f3138;
      min-height: 97px; }
    body .row .sticky {
      background-color: #2f3138;
      border-bottom: 3px solid #b2112f;
      height: 100px; }
    body .row.second-section {
      background-color: #007EA7;
      height: 500px;
      position: relative; }
      body .row.second-section .columns {
        background: url("../img/fondo-section1.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute;
        height: 500px; }
        body .row.second-section .columns .left {
          background: url("../img/section1-1.png") left bottom no-repeat;
          background-size: 100% auto;
          height: 100%;
          left: 0;
          top: 0;
          width: 25%;
          position: absolute; }
        body .row.second-section .columns .right {
          background: url("../img/section1-2.png") right bottom no-repeat;
          background-size: 100% auto;
          height: 100%;
          right: 0;
          top: 0;
          width: 25%;
          position: absolute; }
      body .row.second-section .content {
        position: relative;
        min-height: 350px; }
        body .row.second-section .content p {
          text-align: center; }
          body .row.second-section .content p.slogan {
            color: #EDF2F4;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            margin-top: 6%; }
          body .row.second-section .content p.brief {
            color: #2f3138;
            font-family: 'abeezeeregular';
            font-size: 30px;
            line-height: 50px; }
            body .row.second-section .content p.brief span {
              display: block; }
            body .row.second-section .content p.brief .question {
              font-size: 40px; }
          body .row.second-section .content p.contact {
            bottom: 0;
            position: absolute;
            text-align: center;
            width: 100%; }
            body .row.second-section .content p.contact .ghost-button {
              display: inline-block;
              font-family: 'Lato', sans-serif;
              font-size: 30px;
              width: 250px;
              padding: 5px;
              color: #EDF2F4;
              border: 3px solid #EDF2F4;
              text-align: center;
              outline: none;
              text-decoration: none;
              border-radius: 9px;
              margin-top: 10px;
              transition: background-color 0.1s ease-out,  color 0.1s ease-out; }
              body .row.second-section .content p.contact .ghost-button:hover, body .row.second-section .content p.contact .ghost-button:active {
                color: #EDF2F4;
                background-color: #b2112f;
                border: 3px solid #b2112f;
                transition: background-color 0.2s ease-in, color 0.2s ease-in; }

/*# sourceMappingURL=template.css.map */
