
@media only screen and (min-width: 641px) and (max-width: 979px) {
	body{
		.top-bar{
			.top-bar-section{
				ul{
					&.right{
						width: 66%;
					}
				}
			}
		}
		.row{
			&.first-section{
				.content{
					min-height: 400px;
					p{
						&.brief{
							font-size: 25px;

							.question{
								font-size: 30px;
							}
						}
						&.slogan{
							font-size: 40px;
							span{
								line-height: 55px;
							}
						}
					}					
				}
			}
			&.second-section{
				.text{
					margin-top: 2%;
					padding-left: 2%;
				}
				.image{
					padding-right: 2%;
					img{
						height: auto;
					}
				}
			}
			&.third-section{
				.gallery{
					.right{	
						&:after{
							font-size: 70px;
						}	
					}
					.left{
						&:after{
							font-size: 70px;
						}
					}
				}
			}
			.page-sizer{
				width: 640px;
			}
			.page-sizer-section{
				padding-left: 1%;
				padding-right: 1%;
				width: 640px;
			}
		}
	}
}