
@media only screen and (max-width: 640px) {
	body{
		h2{
			font-size: 40px;
		}
		&.f-topbar-fixed{
			.row{
				.top-bar-animated{
					.title-area{
						height: 75px;

						li{
							display: inline-block;
							width: 49%;

							&.toggle-topbar{
								float: right;
								height: 75px;
								line-height: 75px;
								margin-top: 0px;								
								position: relative;
								text-align: right;
								top: 0;
								vertical-align: top;
								width: 35%;		
								a{
									font-family: "Lato";
									line-height: 75px;
									height: 75px;
									overflow: hidden;
									position: relative;
									overflow:hidden;

									span{
										&.ink{
											&:after{
												box-shadow: none;
											}
										}
									}
								}						
							}
						}
					}
					.top-bar-section{
						ul{
							&.right{
								li{
									min-height: 20px;
									&:not(.has-form){
										&.active{
											a:not(.button){
												line-height: 20px;
											}
										}
										a:not(.button){
											line-height: 20px;
										}
									}								
								}
							}
						}
					}
					.name{
						position: absolute;
						h1{
							background: url("../img/Kukenan-Logo-White-Letters.png") center no-repeat;
							background-size: auto 55px;
							margin-top: 0px;
							height: 74px;
						}
					}
				}
			}
		}
		.top-bar{
			&.expanded{
				.title-area{
					background-color: transparent;
				}
			}
			.title-area{
				height: 85px;

				li{
					display: inline-block;
					width: 49%;

					&.toggle-topbar{
						float: right;
						height: 85px;
						line-height: 85px;
						margin-top: 0px;
						position: absolute;
						text-align: right;
						top: 0;
						vertical-align: top;
						width: 35%;		
						a{
							font-family: "Lato";
							line-height: 85px;
							height: 85px;
							overflow:hidden;

							span{
								&.ink{
									&:after{
										box-shadow: none;
									}
								}
							}
						}						
					}
				}
			}
			.top-bar-section{
				ul{
					&.right{
						width: 100%;
						li{
							min-height: 20px;
							text-align: left;
							width: 99%;
							&:not(.has-form){
								&.active{
									a:not(.button){
										line-height: 20px;
										&:after{
											border: none;
										}
									}
								}
								a:not(.button){
									line-height: 20px;
									&:hover:after{
										border: none;
									}
								}
							}
						}
					}
				}				
			}
			.name{
				position: absolute;
				h1{
					background: url("../img/Kukenan-Logo-White-Letters.png") center no-repeat;
					background-size: auto 65px;
					height: 86px;
					margin-top: 0px;
				}
			}
		}
		.row{
			.sticky-custom{
				box-shadow:rgba(0, 0, 0, 0.3) 0 1px 10px 0;
				-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 1px 10px 0;
				-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 1px 10px 0;
			}
			.page-sizer{
				width: 90%;
			}
			.page-sizer-section{
				width: 95%;
			}
			&.first-section{
				height: 430px;
				.content{
					min-height: 450px;

					p{						
						&.slogan{
							font-size: 37px;
							span{
								display: inline-block;
								height: 60px;
								vertical-align: top;
								width: auto;

								&.text-change{
									font-size: 40px;
								}
							}
														
						}
						&.brief{
							font-size: 23px;
							line-height: 30px;

							.question{
								font-size: 26px;
							}
						}
					}
				}
			}
			&.second-section{
				height: 720px;
				.content{					
					.text{
						float: none;
						margin-top: 0px;
					}
					.image{
						line-height: 100px;
						img{
							height: 200px;
						}
					}
				}				
			}
			&.third-section{
				height: 130px;
			}
			&.fourth-section{
				.row{
					&.line{
						height: 50px;
						margin-top: 5%;
						margin-bottom: 0px;
						.columns{
							img{
								height: 50px;
								width: 5px;
							}
						}
					}
					.column{
						&.image{
							background-size: auto 100%;
							height: 100px !important; 
						}
						&.dotted{
							text-align: center;
						}
					}
				}
			}
		}
	}
}